extends layouts/default

block content
  .jumbotron
    h1 'Allo, 'Allo, yo Akbar! 
    p.lead Always a pleasure scaffolding your apps.
    p: a.btn.btn-lg.btn-success(href='#') Splendid!

  .row.marketing
    .col-lg-12
      h4 HTML5 Boilerplate
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      p tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
      p consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      p cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
      p proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
